
    <section class='py-5'>
      <div class='container'>
        <!-- Breadcrumbs -->
        <ol class='breadcrumb ps-0  justify-content-start'>
          <li class='breadcrumb-item'><a href='index.html'>Home</a></li>
          <li class='breadcrumb-item'><a href='user-messages.html'>Inbox</a></li>
          <li class='breadcrumb-item active'>Your messages with Anna   </li>
        </ol>
        <div class='d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-4'>
          <h1 class='mb-3 mb-md-0 hero-heading mb-0'>Your messages with Anna</h1>
          <div><a class='btn btn-link ps-0' href='user-messages.html'><i class='fa fa-arrow-left me-2'></i> Back to all messages</a></div>
        </div>
        
        <div class='card border-0 shadow mb-4'>
          <div class='card-body p-4'>
            <div class='text-block pb-3'>
              <div class='d-flex align-items-center justify-content-between'>
                <div>
                  <h6> <a class='text-reset' href='detail-rooms.html'>Modern Apt - Vibrant Neighborhood</a></h6>
                  <p class='text-muted text-sm mb-0'>Entire home in New York</p>
                  <div class='mt-n1'><i class='fa fa-xs fa-star text-primary'></i><i class='fa fa-xs fa-star text-primary'></i><i class='fa fa-xs fa-star text-primary'></i><i class='fa fa-xs fa-star text-primary'></i><i class='fa fa-xs fa-star text-gray-200'></i>
                  </div>
                </div><a href='detail-rooms.html'><img class='ms-3 rounded flex-shrink-0' src='img/photo/photo-1512917774080-9991f1c4c750.jpg' alt='' width='100'></a>
              </div>
            </div>
            <div class='text-block pt-3 pb-0'>
              <ul class='list-unstyled text-sm mb-0'>
                <li class='mb-3'><i class='fas fa-users fa-fw text-muted me-2'></i>3 guests</li>
                <li class='mb-0'><i class='far fa-calendar fa-fw text-muted me-2'></i>Apr 17, 2019 <i class='fas fa-arrow-right fa-fw text-muted mx-3'></i>Apr 18, 2019</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Chat Box-->
        <div class='px-4 py-5'>
          <div class='row'>
            
            <!-- Sender Message-->
            <div class='d-flex col-md-9 col-xl-7 mb-3'><img class='avatar avatar-border-white flex-shrink-0' src='img/avatar/avatar-1.jpg' alt='user'>
              <div class='ms-3'>
                <div class='bg-gray-200 rounded p-4 mb-2'>
                  <p class='text-sm mb-0'>He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before.</p>
                </div>
                <p class='small text-muted ms-3'>12:00 PM | Aug 13</p>
              
            </div>
            
            <!-- Reciever Message-->
            <div class='d-flex col-md-9 col-xl-7 ms-auto mb-3' style="text-align: right;">
              <div class='me-3'>
                
                  <p class='text-sm mb-0 text-white'>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
                </div>
                <p class='small text-muted ms-3'>12:00 PM | Aug 13</p>
              </div><img class='avatar avatar-border-white flex-shrink-0' src='img/avatar/avatar-10.jpg' alt='user'>
            </div>
            
            
            
            
          </div>
        </div>
        <!-- Typing area-->
        <form class='bg-light rounded shadow-sm' action='#'>
          <div class='input-group'>
            <textarea class='form-control border-0 p-4 bg-light text-sm' placeholder='Type a message' aria-describedby='button-sendMessage'></textarea>
            <button class='btn btn-link' id='button-sendMessage' type='submit'><i class='fa fa-paper-plane'></i></button>
          </div>
        </form>
      </div>
    </section>
