@charset "UTF-8";

.about-desc {
	height: 21.25rem;
	font-size: 1.75rem;
	margin-top: 12rem !important;
}

.lead rowac {
	margin-top: 25px;
	font-family: Noto Sans KR;
	font-weight: 300;
	font-size: 16px;
	color: #737373;
}

.text-h {
	font-family: Noto Sans KR;
	font-weight: 400;
	font-size: 50px;
	margin-bottom: 1rem;	
}

.text-h2 {
	font-family: Noto Sans KR;
	font-weight: 400;
	font-size: 16px;	
}

.text-h3 {
	font-family: Noto Sans KR;
	font-weight: 300;
	font-size: 27px;
	color: #525252;	
}

.text-h4 {
	font-family: Noto Sans KR;
	font-weight: 400;
	font-size: 16px;
	color: #737373;	
}

.text-h5 {
	font-family: Noto Sans KR;
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 1rem;
}

.line-h {
	background-color: #00c7ae;
	height: 0.125rem;
	width: 11.25rem;
}

.img-t {
	width: 900px;
	height: 300px;		
}

#img-i {
	width: 300px;
	float: left;	
}